/* General */

body,
html {
    overflow-x: hidden;
}

*,
*::before {
    box-sizing: border-box;
}

button,
a,
input {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    background-color: #333b50;
    margin: 0;
    font-family: 'lato', 'Google Sans', 'Arial';
}

html {
    scroll-behavior: smooth;
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    /* background-image: url(""); */
    background-position: center center;
    opacity: 1;
}

.background-color {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    min-height: 100%;
    /* background-color: rgba(10, 17, 36, 0.5); */
}

#dim-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 1); */
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.dimmed #dim-overlay {
    display: block;
    opacity: 1;
}

.dimmed .navbar,
.dimmed .header,
.dimmed .about-me,
.dimmed .portfolio,
.dimmed .contact,
.dimmed .footer {
    filter: brightness(0.45);
    pointer-events: none;
    transition: filter 0.3s ease;
}

.dimmed .navbar.scrolled {
    background-color: transparent;
}

.dimmed .footer {
    background-color: #333b50;
}

.content {
    position: relative;
    color: white;
    z-index: 3;
    margin-top: 56px;
    padding: 40px;
    /* margin: auto; */
    /* max-width: 800px; */

    /* gap: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.floating-box {
    display: flex;
    background-color: #333b50;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 999;
    padding-left: 17px;
    padding-right: 17px;
}

.navbar.scrolled {
    background-color: rgb(28, 28, 28);
}

.navbar .icon {
    width: 32px;
    height: auto;
}

.navbar .buttons div {
    display: inline-block;
}

.navbar .icon-container a {
    margin: 10px 12px;
    user-select: none;
}

.navbar .buttons a {
    padding: 10px 12px;
    color: rgb(249, 249, 249);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    transition: color 0.15s ease;
}

.navbar .buttons a:hover {
    color: #00d646;
}

/* Header */
.header {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.main-header .content {
    /* This cause another .css file in trouble when used in multiple .css file */
    /* This .content modified for .header only works well in this index.html */
    /* To fix this I used main-header */
    margin-top: 0;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 100%;
    min-height: 100vh;
    width: 100%;
}

.main-header .text {
    align-self: flex-start;
    margin-left: 25%;
    margin-top: max(50px, 25vh);
    word-break: break-word;
}

.main-header .text h1 {
    font-weight: 900;
}

.main-header .text h4 {
    font-weight: 300;
    color: rgb(249, 249, 249);
}

.main-header .content a {
    align-self: center;
    height: 48px;
    padding-top: 30px;
}

/* NOTE: Here use background-position: anything top */
.header .background-image {
    /* background-image: url("../images/background/cover.jpg"); */
    /* background-position: center top; */
    background-position: 60% top;
    opacity: 0.45;
}

.header .background-color {
    background-color: rgba(50, 65, 88, 0.3);
}

/* SECTION: about-me */
.about-me {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    background-color: white;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

/* .about-me .background-image {background-image: url("../images/background/notes-taking.jpg");} */

.about-me .background-color {
    background-color: rgba(10, 17, 36, 0.58);
}

/* SECTION: portfolio */
.portfolio {
    position: relative;
    display: flex;
    /* height: 100vh; */
    /* flex-direction: column; */
    min-height: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

/* .portfolio .background-image {background-image: url("../images/background/mountain-climbing.jpg");} */

.portfolio .background-color {
    background-color: rgba(9, 19, 48, 0.7);
}

/* SECTION: contact */
.contact {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    min-height: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

/* .contact .background-image {background-image: url("../images/background/notes.jpg");} */

.arrow-below {
    color: rgba(10, 17, 36, 0.54);
    fill: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    transition: fill 0.15s ease;
}

.arrow-below:hover {
    fill: #00d646;
}

.contact .background-color {
    background-color: rgba(10, 17, 36, 0.7);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 150px;
}

.section-card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    /* best use 70px (here 30px) use 40px below */
}

.section-card-number {
    color: rgb(190, 199, 213);
}

.catd-title .card-desc {
    margin: 0;
    color: rgb(249, 249, 249);
    text-align: center;
    word-wrap: break-word;
}

/* .card-desc {font-family: Avenir;} */

#text-green-it {
    color: #00d646
}

.about-me .floating-box {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    padding: 48px 50px 60px 50px;
    margin-bottom: 150px;
}

.about-me .icon {
    width: 90px;
}

.about-me .text {
    color: #f9f9f9;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 40px;
    line-height: 1.75rem;
}

.button {
    border: #00d646 1px solid;
    padding: 10px 15px;
    text-wrap: nowrap;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: background-color 0.15s ease;
}

.button:hover {
    background-color: #00d646;
}

.contact .text {
    flex: 1;
    width: 100%;
}

.contact .floating-box {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    padding-bottom: 60px;
}

.contact .rows {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: baseline;
    padding: 48px 100px 18px 100px;
    flex-wrap: wrap;
}

.contact .floating-box .title {
    position: relative;
    font-weight: 400;
}

.contact .floating-box .text p {
    text-decoration-style: solid;
    /* font-family: 'Avenir' ; */
}

.contact .floating-box .text {
    color: rgb(249, 249, 249);
}

.contact .para {
    color: white;

}

.contact a {
    text-decoration: none;
    color: rgb(249, 249, 249);
}


.contact p {
    font-size: 16px;
    color: rgb(249, 249, 249);
}




/* Skill Progress Bar Container */
.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    margin-top: 40px;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.skill-name,
.percentage {
    font-size: 16px;
    font-weight: 300;
}


.skill-name {
    flex: 2;
    padding-right: 15px;
    text-align: right;
}


.percentage {
    flex: 1;
    padding-left: 15px;
    text-align: left;
}

.progress-bar-wrapper {
    flex: 5;
    border-radius: 10px;
    height: 8px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    background-color: #4CAF50;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 0;
    transition: width 1.5s ease-in-out;
}


/* Slideshow */
.slides,
.slides-title {
    display: none;
    color: rgb(249, 249, 249);
}

.slides-title p {
    font-size: 0.667rem;
    line-height: auto;
    /* font-family: Avenir; */
    font-weight: 400;
}

.slides img {
    width: 100%;
    vertical-align: middle;
    user-select: none;
    -webkit-user-drag: none;
}

.slides-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    margin-top: 40px;
    overflow: visible;
}

.slides-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(10, 17, 36, 0.5);
}

.prev,
.next {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    pointer-events: none;

    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    height: 40px;
    width: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.15s ease;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    user-select: none;
    z-index: 5;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    transform: translateY(-50%);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.2);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.fade {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* Form Container */
.form {
    flex: 1;
    width: 100%;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    font-size: 15px;
    border: 1px solid #ccc;
}

.form-container .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-container .row input {
    width: 48%;
}

.form-container textarea {
    height: 120px;
    font-family: inherit;
}

.form-container button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
    transition: background-color 0.15s ease;
}

.form-container button:hover {
    background-color: #45a049;
}

.confirmation-message {
    color: green;
    font-size: 15px;
    margin-top: 15px;
    visibility: hidden;
}

.form-container p {
    font-size: 15px;
}

/* Social Media Container */

.social-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.whatsapp-icon,
.skype-icon,
.linkedin-icon {
    width: 25px;
}

.mail-icon {
    margin-top: 4px;
    width: 33px;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyrights {
    display: flex;
    height: 88px;
    gap: 30px;
}

.copyrights .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.footer .icon {
    width: 25px;
    height: auto;
}

.copyrights .text {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Avenir Arial; */
    color: #bec7d5;
    line-height: 1.75rem;
}

/* Side Navigation Bar */
.side-navbar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 250px;
    background-color: rgb(28, 28, 28);
    overflow: hidden;
    z-index: 1001;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(100, 100, 100, 0.5);
    transition: left 0.5s ease;
}

.side-navbar.active {
    left: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.nav-links li {
    opacity: 0;
    transform: translateX(-30px);
}

.nav-links li a {
    text-decoration: none;
    color: rgb(249, 249, 249);
    font-size: 16px;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #00d646;
}

@keyframes slideText {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Burger button default state */
.burger-button-container {
    position: fixed;
    top: 0;
    right: 17px;
    height: 56px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.burger-button {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-button span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    /* Default color */
    /* border-radius: 3px; */
    transition: all 0.5s ease;
}

/* Rotate the burger button on active */
.burger-button.active {
    animation: rotate360 0.5s forwards;
}

/* Backward rotation for closing */
.burger-button.closing {
    animation: rotate360-reverse 0.5s forwards;
}

/* Animation for 360° rotation */
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Backward 360° rotation */
@keyframes rotate360-reverse {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Transform lines to create a plus (+) sign */
.burger-button.active span:nth-child(1) {
    transform: rotate(45deg) translateY(4px) translateX(4px);
}

.burger-button.active span:nth-child(2) {
    opacity: 0;
    /* Hide the middle line */
}

.burger-button.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-5px) translateX(5px);
}

/* Reset transformations when closing */
.burger-button.closing span:nth-child(1),
.burger-button.closing span:nth-child(3) {
    transform: rotate(0deg) translateY(0) translateX(0);
}

.burger-button.closing span:nth-child(2) {
    opacity: 1;
    /* Restore the middle line */
}


/* Universal styles for all browsers
    For Firefox: thin scrollbar
    Thumb color and track color
*/
/* html {
    scrollbar-width: thin;
    scrollbar-color: #bfbfbf #f5f5f5;
} */

/* WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
    /* Thin scrollbar */
    height: 10px;
    /* Thin horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    /* Light background for the track */
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    /* Stylish gradient thumb */
    border-radius: 10px;
    /* Rounded thumb for modern look */
    border: 2px solid #f5f5f5;
    /* Creates space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #b0b0b0, #a3a3a3);
    /* Hover effect with gradient reversal */
}

/* Optional: Corner styling (where horizontal & vertical scrollbars meet) */
::-webkit-scrollbar-corner {
    background: #f5f5f5;
    /* Match track background */
}

.tool {
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.tool:hover {
    transform: scale(1.1);
}

.tool::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    line-height: 1.2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    transform: opacity 0.2s ease, visibility 0.2s ease;
}

.tool:hover::after {
    opacity: 1;
    visibility: visible;
}


.copy-link {
    position: absolute;
    top: -6px;
    opacity: 0;
    margin-left: 10px;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.contact .title:hover .copy-link {
    opacity: 1;
    visibility: visible;
}


.notifications {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.notifications.show {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {

    .about-me .text,
    .copyrights .text {
        font-size: 1.167rem;
    }
}

@media (max-width: 480px) {

    .skill-name,
    .percentage {
        font-size: 15px;
    }
}

@media (max-width:1200px) {
    .main-header .text {
        margin-left: 20%;
    }
}

@media (max-width: 930px) {
    .contact .rows {
        padding: 28px 70px 30px 70px;
    }
}

@media (max-width: 768px) {
    .main-header .text {
        margin-left: 0;
    }

    .burger-button {
        display: flex;
    }

    .navbar .buttons {
        display: none;
    }

    .contact .rows {
        flex-direction: column;
    }

    .main-header .content {
        padding-left: 40px;
    }

    .about-me .floating-box {
        max-width: 600px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding-left: 0px;
    }

    .navbar .icon-container a {
        margin: 10px 8px;
    }

    .contact .rows {
        flex-direction: column;
        padding: 18px 60px 20px 60px;
    }

    .contact .floating-box {
        padding-bottom: 40px;
    }

    .content {
        padding: 30px;
        /* Todo: change to 20px later */
    }

    .about-me .floating-box {
        padding: 48px 40px 60px 40px;
    }
}

@media (max-width: 400px) {
    .contact .rows {
        flex-direction: column;
        padding: 0px 40px 20px 40px;
    }

    .contact .floating-box {
        padding-bottom: 40px;
    }

    .content {
        padding: 20px;
    }

    .main-header .content {
        padding-bottom: 30px;
    }

    .about-me .floating-box {
        padding: 48px 30px 60px 30px;
    }
}

@media (max-width: 350px) {
    .main-header .content {
        padding-left: 20px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}

p {
    font-size: 1.000rem;
    line-height: 1.500rem;
    font-weight: 400;
}

h1 {
    font-size: 3.000rem;
    line-height: 4.14rem;
}

h4 {
    font-size: 1.500rem;
    line-height: 2.25rem;
}

h3 {
    font-size: 2.000rem;
    line-height: 2.76rem;
}

.card-title {
    font-size: 2.000rem;
    line-height: 3.000rem;
    font-weight: 900;
}

.card-desc {
    font-size: 1.166rem;
    line-height: 1.75rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.666rem;
        line-height: 3.680rem;
    }

    h4 {
        font-size: 1.416rem;
        line-height: 2.125rem;
    }

    h3 {
        font-size: 1.854rem;
        line-height: 2.51rem;
    }

    .card-title {
        font-size: 1.854rem;
        line-height: 2.750rem;
    }

    .card-desc {
        font-size: 0.972rem;
        line-height: 1.604rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.250rem;
        line-height: 3.105rem;
    }

    h4 {
        font-size: 1.195rem;
        line-height: 1.792rem;
    }

    h3 {
        font-size: 1.667rem;
        line-height: 2.260rem;
    }

    .card-title {
        font-size: 1.667rem;
        line-height: 2.500rem;
    }
}

@media (max-width:370px) {
    h1 {
        font-size: 2rem;
    }
}
