/* General */

/* Load Avenir Light font */
/* @import url('https://fonts.googleapis.com/css2?family=Avenir:wght@300&display=swap'); */


body {
    background-color: #333b50;
    margin: 0;
    font-family: Lato, Arial;
    /* font-family: 'Avenir Light', sans-serif; */
}

html {
    scroll-behavior: smooth;
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    /* background-image: url(""); */
    background-position: center center;
    opacity: 1;
}

.background-color {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    min-height: 100%;
    /* background-color: rgba(10, 17, 36, 0.5); */
}

.content {
    position: relative;
    color: white;
    z-index: 3;
    margin-top: 56px;
    padding: 40px;
    /* margin: auto; */
    /* max-width: 800px; */

    /* gap: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.floating-box {
    display: flex;
    background-color: #333b50;
    padding-top: 80px;
    padding-bottom: 40px;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
    padding-left: 17px;
}

.navbar.scrolled {
    background-color: rgb(28, 28, 28);
}

.navbar .icon {
    width: 32px;
    height: auto;
}

.navbar .buttons div {
    box-sizing: border-box;
    display: inline-block;
}

@media (max-width:501px) {
    .navbar .buttons {
        display: none;
    }
}

.navbar a {
    padding: 10px 12px;
    color: rgb(249, 249, 249);
    text-decoration: none;
}


/* Header */
.header {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.header .background-image {
    /* background-image: url("../images/background/cover.jpg"); */
    background-position: right center;
    opacity: 0.45;
}

.header .background-color {
    background-color: rgba(50, 65, 88, 0.3);
}

/* SECTION: about-me */
.about-me {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    background-color: white;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

/* .about-me .background-image {background-image: url("../images/background/notes-taking.jpg");} */

.about-me .background-color {
    background-color: rgba(10, 17, 36, 0.58);
}

/* SECTION: portfolio */
.portfolio {
    position: relative;
    display: flex;
    /* height: 100vh; */
    /* flex-direction: column; */
    min-height: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

/* .portfolio .background-image {background-image: url("../images/background/mountain-climbing.jpg");} */

.portfolio .background-color {
    background-color: rgba(9, 19, 48, 0.7);
}

/* SECTION: contact */
.contact {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    min-height: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

/* .contact .background-image {background-image: url("../images/background/notes.jpg");} */

.contact .background-color {
    background-color: rgba(10, 17, 36, 0.7);
}

.section-card-number {
    color: rgb(190, 199, 213);
}

.section-card-description,
.section-card-title {
    color: rgb(249, 249, 249);
}

#text-green-it {
    color: #00d646
}

.about-me .floating-box {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 65px;
    width: 50%;
}

.about-me .icon {
    width: 90px;
}

.about-me .text {
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 400;
    width: 65%;
    text-align: center;
    line-height: 35px;
}

.button {
    border: #00d646 1px solid;
    padding: 10px 15px;
    text-wrap: nowrap;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: background-color 0.15s ease;
}

.button:hover {
    background-color: #00d646;
}

.contact .text {
    width: 40%;
}

.contact .floating-box .title {
    font-weight: 400;
}

.contact .floating-box .text p {
    font-weight: 400;
    line-height: 1.5;
}

.contact .floating-box .text {
    color: white;
}

.contact a {
    text-decoration: none;
    color: white;
}


.contact .floating-box {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    padding: 100px;
    padding-bottom: 0;
}

.contact .rows {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: baseline;
}


.contact p {
    font-size: 16px;
    color: rgb(249, 249, 249);
}




/* Skill Progress Bar Container */
.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.skill-name,
.percentage {
    font-size: 18px;
    font-weight: 300;
}

.skill-name {
    flex: 2;
    padding-right: 15px;
    text-align: right;
}

.percentage {
    flex: 1;
    padding-left: 15px;
    text-align: left;
}

.progress-bar-wrapper {
    flex: 5;
    border-radius: 10px;
    height: 8px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    background-color: #4CAF50;
    border-radius: 10px 0 0 10px;
    height: 100%;
}

@keyframes animate90 {
    from { width: 0;}
    to {width: 90%;}
}

@keyframes animate80 {
    from { width: 0;}
    to {width: 80%;}
}

@keyframes animate95 {
    from { width: 0;}
    to {width: 95%;}
}

/* Slideshow */
.slides,
.slides-title {
    display: none;
}

.slides img {
    width: 100%;
    vertical-align: middle;
}

.slides-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(10, 17, 36, 0.5);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 11px 18px 11px 18px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.15s ease;
    border-radius: 36px;
    text-align: center;
    vertical-align: center;
    user-select: none;
    z-index: 5;

}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.fade {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

/* Form Container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

.form-container input,
.form-container textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 5px 0;
    font-size: 15px;
    border: 1px solid #ccc;
}

.form-container .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-container .row input {
    width: 48%;
}

.form-container textarea {
    height: 120px;
    font-family: inherit;
}

.form-container button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
}

.form-container button:hover {
    background-color: #45a049;
}

.confirmation-message {
    color: green;
    font-size: 15px;
    margin-top: 15px;
    display: none;
}

.form-container p {
    font-size: 15px;
}

/* Social Media Container */
.footer {
    display: grid;
}

.social-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-icon,
.skype-icon,
.linkedin-icon {
    width: 25px;
    padding: 10px;
}

.mail-icon {
    margin-top: 4px;
    margin-left: 6px;
    width: 33px;
}

/* Footer */
.copyrights {
    display: grid;
    height: 10vh;
    gap: 10px;
    grid-template-columns: 1fr auto 1fr;
}

.copyrights .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .icon {
    width:6vh;
    height: auto;
}

.copyrights .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #bec7d5;
}

/* Side Navigation Bar */
.side-navbar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 250px;
    background-color: rgb(28, 28, 28);
    overflow: hidden;
    z-index: 1000;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(100, 100, 100, 0.5);
    transition: left 0.5s ease;
}

.side-navbar.active {
    left: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-links li {
    opacity: 0;
    transform: translateX(-30px);
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #00d646;
}

@keyframes slideText {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Burger Button Styling */
.burger-button {
    top: 20px;
    right: 20px;
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1300;
}

.burger-button .line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease; /* Smooth transition for transformation */
}


/* Media Query for Displaying the Burger Button */
@media (max-width: 501px) {
    .burger-button {
        display: flex;
    }
}
